* {
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900');
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    background-color: #10101E;
    color: black;
    
}		

#menu, #pageHeader, #firstSection, #secondSection, #thirdSection, #pageFooter {
    padding: 1px;
}	

/* MENU - NAVIGACIJA start ****************************************/

#menu {
    display: flex;
    background-color: #FFFFFF;
    height: 100px;
}

#menu ul {
    float: right;
    text-align: right;
    display: flex;
    width: 58%;
    list-style-type: none;
}			

#menu li {
    text-align: right;
    display: flex;

}			

#menu ul a {
    font-family: "Montserrat", "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #28377e;
    text-decoration: none;
    margin: auto;
    margin-left: 30px;
}

#menu a:hover {
    color: #f15829;
}

.logo {
    float:left;
    width: 42%;
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size:30px;
    letter-spacing: 7px;
    font-weight: 700;
    color: #28377e;
    text-decoration: none;
}

/* MENU - NAVIGACIJA end ****************************************/

/* HEADER start ************************************************/
#pageHeader {	
    height: 700px;
	text-align: center;
	display: flex;
    color: #FFF;
    margin: auto;
    background-image: url("../images/slide.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#pageHeader div {
	margin: auto;
}

#pageHeader h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	font-size: 80px;
}

#pageHeader div h1 span{
	display: block;
}
/* HEADER end ************************************************/

/* FIRST SECTION start *************************/
#firstSection {
    height: 796px;
    background-image: url("../images/firstsection.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.firstText {
    float: left;
    width: 50%;
}

#firstSection h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #2b2f85;
    padding: 15px 0;
}

#firstSection article {
    width: 100%;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #858585;
    line-height: 170%;
}
/* FIRST SECTION end *************************/


#secondSection {
    height: 1000px;
    background-image: url("../images/services.png");
    z-index: 2;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleSecond {
    padding: 65px 0;
    text-align: center;
}

.titleSecond h1{
    font-family: 'Montserrat', sans-serif;
    transform: scale(1, 1.03);
    font-weight: 700;
    font-size: 36px;
    padding: 15px 0;
    color: #2b2f85;
}
#secondSection .tinted {
    margin: auto; 
 
    background-image: url(../images/services1.jpg), url(../images/services2.jpg), url(../images/services3.jpg);
    background-position: left top, center top, right top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 450px;
}

#secondSection .tinted{ 
    display: flex;
    text-align: center;
    vertical-align: middle;
}



#thirdSection {  
    position: relative;
    height: 1350px;
    margin-top: -200px;
    width: 100%;
    background-image: url("../images/workers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#thirdSection h1{
    padding-top: 10px;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    transform: scale(1, 1.03);
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
}

#thirdSection .thirdText {
    margin-top: 103px;
    float: left;
    width: 30%;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #929dcf;
    line-height: 170%;
}

.odvjetnici {  
    float: right; 
    text-align: right; 
    width: 70%;
}
.odvjetnici span {
    display: block;
    margin-top: 24px;
}

#thirdSection span {
    display: block;
    padding-top: 16px;
}



.thirdText a {
    font-family: "Montseratt", sans-serif;
    color: #f15829;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.125em;
}

.thirdText a:hover{
   color: white;
}

.sve a,p{
    padding: 10px 0;
}










#fourthSection{ 
    display: flex;
    text-align: left;
    background-color: rgb(255, 255, 255);
    height: 790px;
}

.fourthTitle{
    text-align: center;
}

#fourthSection h1{
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    transform: scale(1, 1.03);
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 105px;
    color: #2b2f85;
}

#fourthSection h3{
    font-family: 'Montserrat', sans-serif;
    color: #204f87;
}

#fourthSection p {
    width: 100%;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #858585;
    line-height: 170%
}    

#fourthSection  section { 
    width: 22%;
    float: left;
    margin: 0 1.5%;
}

#fourthSection a {
    font-family: "Montseratt", sans-serif;
    color: #f15829;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
}

#fourthSection a:hover {
    color: #204f87;
}

#fifthSection {
    display: flex;
    z-index: 2;
    margin-top: -82px;
    height: 700px;
    background-image: url("../images/news.png");
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.fifthTitle{
    text-align: center;
}

#fifthSection h1{
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    transform: scale(1, 1.03);
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 75px;
    color: #2b2f85;
}


#fifthSection h3 {
    padding-top: 10px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #2b2f85;
    line-height: 1.5;
    text-align: left;
}
#fifthSection p {
    width: 100%;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #858585;
    line-height: 170%
}    

.prvadva{
    width: 45%;
    float: left; 
    padding: 10px;
}

.drugadva{
    width: 45%;
    float: right; 
    padding: 10px;
}


.post:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    padding-bottom: 10px; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */

    border-bottom: 1px solid #c0c0c0; /* This creates the border. Replace black with whatever color you want. */
}

#fifthSection a {
    font-family: "Montseratt", sans-serif;
    color: #f15829;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    padding-bottom: 10px;
}

#fifthSection a:hover {
    color: #2b2f85;
}

#sixtSection{
    display: flex;
    height: 1120px;
    background-image: url("../images/contact.jpg");
	background-repeat: no-repeat;
	background-position: 
	background-size: cover;
}
.adresa h5{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    line-height: 1.699;
    padding-bottom: 2rem;
}

.adresa {
    width:50%;
    float: left;
    margin: 3rem 0rem;
    padding: 5rem 5rem;
    border: 1px solid rgb(71, 89, 167);
     
}

.adresa a{
    padding-top: 20px;
}

.email {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-decoration: underline;
    line-height: 1.699;
  }

.telefon{
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.699;
}

.sixthTitle {
    text-align: center;
}
.sixthTitle h1{
    text-align: center;
    padding-top: 10px;  
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    transform: scale(1, 1.03);
    font-weight: 700;
    padding-bottom: 75px;
    color: white;
}
#obrazac{
    text-align: center;
}
form label{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.input {
    font-size: 14px;
    padding: 5px;
    width: 250px;
    border: 1px solid rgb(100, 112, 167);;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .0);
    color: white;
    outline: none;
}

#obrazac input[type=submit] {
text-align: center;
background-color: rgb(242, 98, 44);
width: 210px;
height: 45px;
border: none;
font-size: 14px;
font-weight: 700;
color: white;
font-family: 'Open Sans', sans-serif;
}

#obrazac input[type=submit]:hover {
    text-align: center;
    background-color: #2b2f85;
    width: 210px;
    height: 45px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: white;
    font-family: 'Open Sans', sans-serif;
    }
    


#pageFooter {
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(97, 108, 168);
    line-height: 1.429;
    background-color: #0c1334;
}

.linkovi a{

    display: inline;
    font-size: 18px;
    font-family: "FontAwesome";
    color: rgb(177, 184, 221);
}
.linkovi li{
    display: inline;
    text-align: right;

}
    
.wrapper-nav {
    width: 1060px;
    max-width: 1060px;
    display: flex;
    margin: auto;
}

.wrapper-first  {
    max-width: 1060px;
    margin: 137px auto;
}

.wrapper-second  {
    height: 450px;
    max-width: 1060px;
    margin: auto;
}

.wrapper-third  {
    margin: 318px auto 0 auto;
    height: 930px;
    max-width: 1060px;
}

.wrapper-fourth  {
    margin: auto;
    max-width: 1060px;
    height: 520px;
}

.wrapper-fifth  {
    z-index: 1;  
    width: 1060px;
    max-width: 1060px;
    margin: 100px auto;
    height: 580px;
}

.wrapper-adresa{
    width: 1060px;
    max-width: 100%;
    margin: 0 auto;

}

.clearfix:after {
    content:" ";
    display: block;
    clear: both;
}