* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    background-color: #10101E;
    color: black;
}		

#pageHeader,#menu,#pageFooter,section,article {
    padding: 10px;
}	

#pageHeader {
    background-color: #535E7A;
}

#menu {
    background-color: #58A4B0;
}			

section{
    background-color: #A9BCD0;
    border-bottom: 2px solid white;
}

#services {
    background-color: #98DFAF;
}

article {
    background-color: #EEF8FF;
}

#about article {
    width: 100%;
    float: left;
/*	margin: 0 0.5%; */
}

#about article:first-of-type {
    background-color: red;
    margin-right: 2%;
}

/*
:last-of-type
:nth-of-type(3)
*/

#pageFooter {
    background-color: #D8DBE2;
}

.wrapper {
    border: 2px solid #7D53DE;
    max-width: 1100px;
    margin: 20px auto;
}

.clearfix:after {
    content:" ";
    display: block;
    clear: both;
}